.primary-nav {
  position: absolute;
  top: 52;
  right: 0;
  text-align: center;
  background-color: #f2f28c;
  width: 250px;

  @mixin atMedium {
    float: right;
    margin-top: 14px;
    position: static;
    width: auto;
    visibility: visible;
  }
  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: block;

    /* padding-right: 7px; */

    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    border-top: 1px black solid;

    &:hover,
    &:active {
      background-color: black;
      color: #f2f28c;
    }

    @mixin atMedium {
      display: block;
      border: none;
    }
  }
}
